.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
}
.lmj-plant-list li {
	position: relative;
}

.add-to-cart-button{
	border-radius: 10px;
	border: 2px solid #31b472;
	background-color: transparent;
	padding: 10px 20px;
	cursor: pointer;
	color: #31b472;
	font-weight: 600;
	margin:0 0 10px 10px;
}
.more-infos{
	position: absolute;
    border: none;
    border-radius: 20px 0px 20px 0px;
    background-color: #20784a;
    color: white;
    padding: 10px 15px;
    right: 10px;
    top: 195px;
    font-weight: 500;
    cursor: help;
}